# Normal
PORT=8000
NODE_ENV=development
LOG_LEVEL=info
DATABASE_URL=""
LOCAL_DB_URL=
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
pass=
EMAIL_USER=
EMAIL_PASS=
CORS_ORIGIN=http://localhost:5173,http://localhost:3000,http://localhost:8000


# ADMIN DETAILS
FULL_NAME=
EMAIL=
PASSWORD=
PHONENUMBER=
ROLE=
STATE=
PIC="not profile pic",
DOB=

# FILE UPLOAD

# local
FILE_STORAGE=local
# FILE_STORAGE=cloudinary
# FILE_STORAGE=s3
# FILE_STORAGE=supabase
UPLOAD_DEST=./uploads

# AWS S3
AWS_REGION=us-east-1
AWS_BUCKET=my-bucket
AWS_ACCESS_KEY_ID=XXXX
AWS_SECRET_ACCESS_KEY=YYYY

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=yyyy
SUPABASE_BUCKET=mybucket

